# Animals
Join example

In [1]:
from platform import python_version

print( python_version() )

3.10.11

In [2]:
import sys

print( sys.executable )

/home/art/git/data_engineer/venv/bin/python

In [3]:
print( sys.version_info )

sys.version_info(major=3, minor=10, micro=11, releaselevel='final', serial=0)

In [4]:
!jupyter --version

Selected Jupyter core packages...
IPython          : 8.14.0
ipykernel        : 6.23.1
ipywidgets       : 8.0.6
jupyter_client   : 8.2.0
jupyter_core     : 5.3.0
jupyter_server   : 2.6.0
jupyterlab       : not installed
nbclient         : 0.8.0
nbconvert        : 7.4.0
nbformat         : 5.9.0
notebook         : 6.5.4
qtconsole        : 5.4.3
traitlets        : 5.9.0

In [5]:
from IPython.display        import display, HTML

import findspark
findspark.init()
import pyspark

#from pyspark.context import SparkContext
from pyspark.sql            import SparkSession
from pyspark.sql.functions  import col, explode, udf
from pyspark.sql.types      import Row, StringType, LongType, ArrayType

In [6]:
pyspark.__version__

'3.4.0'

### create Spark Session

In [7]:
spark = SparkSession.builder \
        .appName( 'bikes' )  \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/09 22:03:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
file_name_animal = '/home/art/data/animal/animal.csv'
file_name_specie = '/home/art/data/animal/specie.csv'

In [16]:
df_animal = spark.read.option( 'header', True  ).csv( file_name_animal )
df_specie = spark.read.option( 'header', True  ).csv( file_name_specie )

In [17]:
df_animal.createOrReplaceTempView( 'animal' )
df_specie.createOrReplaceTempView( 'specie' )

In [18]:
q1 = '''
select *
from animal
'''

In [19]:
spark.sql( q1 ).show()

+---+-----------+
| id|common_name|
+---+-----------+
|  1|        cat|
|  2|        dog|
|  3|     turtle|
+---+-----------+

In [20]:
q2 = '''
select *
from specie
'''

In [21]:
spark.sql( q2 ).show()

+---+----------------+
| id|          specie|
+---+----------------+
|  3|  chelonia midas|
|  2|canis familiaris|
|  1|     felis catus|
+---+----------------+

In [24]:
q3 = '''
select a.id, a.common_name, s.specie
from animal a
LEFT JOIN specie s 
on a.id = s.id
'''

In [25]:
spark.sql( q3 ).show()

+---+-----------+----------------+
| id|common_name|          specie|
+---+-----------+----------------+
|  1|        cat|     felis catus|
|  2|        dog|canis familiaris|
|  3|     turtle|  chelonia midas|
+---+-----------+----------------+