In [9]:
from IPython.display   import display, HTML

import findspark
findspark.init()

import pyspark
from pyspark.sql       import SparkSession
from pyspark.sql.types import Row

from datetime          import datetime

In [11]:
spark = SparkSession.builder  \
        .appName( 'json 01' ) \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/09 09:25:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [25]:
df_01 = spark.read \
     .format( 'json' ) \
     .load( '/home/art/data/tiny/j01.json', multiLine= True )

In [27]:
df_01.show()

+------+--------------------+--------------------+---------+-------+
|animal|       date_of_birth|                food| fruit_id|   name|
+------+--------------------+--------------------+---------+-------+
|   cat|20221-05-20 08:00:00|[salmon, meat, cr...|[1, 2, 3]|Patitas|
+------+--------------------+--------------------+---------+-------+

In [22]:
df_01 = spark.read \
        .json( '/home/art/data/tiny/j01.json', multiLine= True )

In [24]:
df_01.show()

+------+--------------------+--------------------+---------+-------+
|animal|       date_of_birth|                food| fruit_id|   name|
+------+--------------------+--------------------+---------+-------+
|   cat|20221-05-20 08:00:00|[salmon, meat, cr...|[1, 2, 3]|Patitas|
+------+--------------------+--------------------+---------+-------+

In [18]:
jsonString="""{"Zipcode":704, "ZipCodeType":"STANDARD", "City":"PARC PARQUE", "State":"PR"}"""
df=spark.createDataFrame([(1, jsonString)],["id","value"])
df.show(truncate=False)

+---+-----------------------------------------------------------------------------+
|id |value                                                                        |
+---+-----------------------------------------------------------------------------+
|1  |{"Zipcode":704, "ZipCodeType":"STANDARD", "City":"PARC PARQUE", "State":"PR"}|
+---+-----------------------------------------------------------------------------+

## Reading an array of jsons

In [28]:
df_events = spark.read  \
            .json( '/home/art/data/tiny/events.json', multiLine= True )

In [29]:
df_events.show()

+-----+--------------------+------------+--------------------+----+
|event|     event_timestamp|    fruit_id|          fruit_name|user|
+-----+--------------------+------------+--------------------+----+
|login|20223-01-20 00:00:00|   [1, 2, 3]|[apple, banana, o...| Ana|
|click|20223-01-20 00:01:00|[4, 5, 6, 7]|[pineapple, melon...|Elsa|
| swap|20223-01-20 00:02:00|      [1, 2]|[strawberry, blue...|Olaf|
+-----+--------------------+------------+--------------------+----+