# m1 demo1

In [1]:
from IPython.display      import HTML, display

'''
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
'''

'\nfrom IPython.core.interactiveshell import InteractiveShell\nInteractiveShell.ast_node_interactivity = "all"\n'

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.context   import SparkContext
from pyspark.sql       import SparkSession
from pyspark.sql.types import Row
from datetime          import datetime

In [4]:
sc = SparkContext( 'local', 'my spark context' )

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/08 12:47:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
sc

In [15]:
my_data = [[1, "Alice", 50], [2, "Bob", 80]]

In [16]:
spark = SparkSession.builder.appName( 'm1_demo1' ).getOrCreate()

In [17]:
records = spark.sparkContext.parallelize( my_data )
records

ParallelCollectionRDD[9] at readRDDFromFile at PythonRDD.scala:287

In [18]:
records.count()

2

In [19]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [20]:
df = records.toDF()

In [21]:
display( df )

DataFrame[_1: bigint, _2: string, _3: bigint]

In [22]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [25]:
rdd2 = spark.sparkContext.parallelize( [ Row( id = 3, name= 'Doja', score= 9 ) ] )

In [26]:
df2 = rdd2.toDF()

In [28]:
df2.show()

+---+----+-----+
| id|name|score|
+---+----+-----+
|  3|Doja|    9|
+---+----+-----+

In [32]:
df3 = spark.range( 5 )

In [34]:
df3.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [36]:
df4 = spark.createDataFrame( my_data )
df4.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

### Convert rdd to DataFrame

In [37]:
df4 = spark.createDataFrame( my_data, [ 'id', 'name', 'score' ] )
df4.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
|  2|  Bob|   80|
+---+-----+-----+

In [38]:
complex_data = [
                 (1.0,
                  10,
                  "Alice", 
                  True, 
                  [1, 2, 3], 
                  {"k1": 0},
                  Row(a=1, b=2, c=3), 
                  datetime(2014, 8, 1, 14, 1, 5)),

                 (2.0,
                  20,
                  "Bob", 
                  True, 
                  [1, 2, 3, 4, 5], 
                  {"k1": 0,"k2": 1 }, 
                  Row(a=1, b=2, c=3), 
                  datetime(2014, 8, 1, 14, 1, 5)),

                  (3.0,
                   30,
                   "Charlee", 
                   False, 
                   [1, 2, 3, 4, 5, 6], 
                   {"k1": 0, "k2": 1, "k3": 2 }, 
                   Row(a=1, b=2, c=3), 
                   datetime(2014, 8, 1, 14, 1, 5))
                ]

In [39]:
# column names for complex data

column_names = [
        'col_integer',
        'col_float',
        'col_string',
        'col_boolean',
        'col_list',
        'col_dictionary',
        'col_row',
        'col_date_time']

In [41]:
df5 = spark.createDataFrame( complex_data, column_names )
df5.show()

+-----------+---------+----------+-----------+------------------+--------------------+---------+-------------------+
|col_integer|col_float|col_string|col_boolean|          col_list|      col_dictionary|  col_row|      col_date_time|
+-----------+---------+----------+-----------+------------------+--------------------+---------+-------------------+
|        1.0|       10|     Alice|       true|         [1, 2, 3]|           {k1 -> 0}|{1, 2, 3}|2014-08-01 14:01:05|
|        2.0|       20|       Bob|       true|   [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{1, 2, 3}|2014-08-01 14:01:05|
|        3.0|       30|   Charlee|      false|[1, 2, 3, 4, 5, 6]|{k3 -> 2, k1 -> 0...|{1, 2, 3}|2014-08-01 14:01:05|
+-----------+---------+----------+-----------+------------------+--------------------+---------+-------------------+

### Convert rdd to DataFrame

In [46]:
type( records )

pyspark.rdd.RDD

In [47]:
column_names = Row( 'id', 'name',  'score'  )

In [48]:
students = records.map( lambda row: column_names( *row ) )

In [50]:
students.take(2)

[Row(id=1, name='Alice', score=50), Row(id=2, name='Bob', score=80)]

In [51]:
df6 = spark.createDataFrame( students )

In [52]:
df6.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
|  2|  Bob|   80|
+---+-----+-----+