In [ ]:
This is hands on practice to test our knowledge.

### import libraries

create spark session

### Extract. Read data and put it in a spark dataframe

read json

read parquet

read txt

read csv

read avro

read from amazon aws s3 bucket

read from google gcp cloud storage bucket

### explore

display describe schema

select show 3 rows

return array of 3 rows

select 3 rows and display in pretty grid

### Select From Where. Filter

select columns

Where, Filter rows

### Transform Dataframes

#### NULL values

errors, wrong data type

blanks

add new column

delete column

rename column

### Aggregation functions

### Joins

### SQL


## Performance

In [2]:
df.explain()

NameError: name 'df' is not defined